body {
    font-family: Arial;
    background: linear-gradient(135deg,#f6d365,#fda085);
    margin:0;
}

.center {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.box {
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
    width:300px;
}

input {
    display:block;
    width:100%;
    margin:10px 0;
    padding:8px;
}

button {
    padding:8px 15px;
    background:#ff7e5f;
    border:none;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

.title {
    text-align:center;
    margin:20px;
}

.grid {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
    padding:20px;
}

.card {
    background:white;
    padding:40px;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
}

.logout {
    background:#ff4b5c;
    color:white;
}

.form {
    width:300px;
    margin:auto;
}